# variables for Mosesserver
MOSES_ROOT=/path/to/moses/installation/dir
MOSES_MODELS=/path/to/moses/models
MOSES_URL=127.0.0.1
MOSES_PORT=7777
MOSES_LOG=

# variables for MT server
MTSERVER_ROOT=/path/to/mtserver/installation/dir
MTSERVER_URL=127.0.0.1
MTSERVER_PORT=8888
MTSERVER_SRCLNG=en
MTSERVER_TGTLNG=it

# variables for XMLRPC
XMLRPC_ROOT=/path/to/XMLRPC/installation/dir

export MOSES_ROOT=${MOSES_ROOT}
export MOSES_MODELS=${MOSES_MODELS}
export MOSES_URL=${MOSES_URL}
export MOSES_PORT=${MOSES_PORT}
export MOSES_LOG=${MOSES_LOG}

export MTSERVER_ROOT=${MTSERVER_ROOT}
export MTSERVER_URL=${MTSERVER_URL}
export MTSERVER_PORT=${MTSERVER_PORT}
export MTSERVER_SRCLNG=${MTSERVER_SRCLNG}
export MTSERVER_TGTLNG=${MTSERVER_TGTLNG}

export XMLRPC_ROOT=${XMLRPC_ROOT}

#for Linux
export LD_LIBRARY_PATH=${XMLRPC_ROOT}/lib:${LD_LIBRARY_PATH}

#for Mac
export DYLD_LIBRARY_PATH=${XMLRPC_ROOT}/lib:${DYLD_LIBRARY_PATH}

